<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>Amazona</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">amazona</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign in</a>
                </div>
            </header>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/2.png" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/3.jpeg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/4.jpeg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/5.webp" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/6.jpeg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/7.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/8.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/9.jpeg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/10.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/11.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/12.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./assets/13.jpeg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Roupa</a>
                                </div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">U$ 20.00</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer">
                &#174; All right reserved.
            </footer>
        </div>
    </body>
</html>